
# database
DATABASE_URL=SUPABASE_DB_POOL_URL


# jwt
SECRET_KEY=JWT_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


# supabase bucket
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_service_role_key
SUPABASE_BUCKET=documents


# ARQ background job 
REDIS_HOST=redis
REDIS_LOCAL_HOST=localhost
REDIS_PORT=6379

# llm
GEMINI_API_KEY=AQ.xxxxQ